
// .brand{
//   padding: 0 20px 0 0;
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
// }
// .brand img {
//   max-height: 80px;
//   width: 15vw;
//   display: block;
// }

// .bis-banner{
//   background-color: #f8f9fb;;
//   position: relative;
//   overflow: hidden;
//   padding: 70px 0px 0px;
//   height: 83vh;
// }
// .context{
//   display: flex;
//   position: relative;
//   width: 90%;
//   max-width: 1280px;
//   margin: 0 auto;
// }
// .content-left{
//   width: calc(100% - 390px);
//   padding-right: 90px;
//   text-align: left;
//   position: relative;
// }
// .dis-block {
//   display: block;
// }
// .content-left h1{
//   font-size: 50px;
//   color: #010101;;
//   margin-top: 10px;
//   line-height: 1.3;
//   letter-spacing: -1px;
//   font-family: var(--zf-primary-regular);
//   overflow: hidden;
// }
// .content-left p {
//   letter-spacing: -0.2px;
//   font-size: 20px;
//   line-height: 1.6;
//   width: 100%;
//   max-width: 640px;
//   color: var(--secondary-color);
//   margin: 20px 0px 30px;
// }
// .zh-btn {
//   border: none;
//   pointer-events: auto !important;
//   cursor: pointer !important;
//   min-width: 154px;
//   font-size: 14px;
//   color: rgb(255, 255, 255);
//   text-transform: uppercase;
//   display: inline-block;
//   line-height: 1;
//   font-family: var(--zf-secondary-medium);
//   letter-spacing: 0.2px;
//   text-rendering: initial;
//   -webkit-font-smoothing: initial;
//   padding: 18px 40px 18px 30px;
//   background: rgb(238, 0, 20);
//   border-radius: 2px;
//   transition: background-image 0.2s ease-in-out, box-shadow 0.5s, background-size 0.2s ease-in-out, background-color 0.4s;
// }
// .zh-img-container {
//   width: calc(100% + 280px);
//   left: -150px;
//   bottom: 0px;
//   z-index: 2;
//   position: absolute;
//   display: table;
//   margin: 20px auto 0px;
// }
// .zh-img-container img{
//   vertical-align: bottom;
//   max-width: 100%;
//     height: auto;
// }
// .content-right{
//   max-width: 390px;
//   background-color: rgb(255, 255, 255);
//   margin-bottom: 58px;
//   position: relative;
//   z-index: 3;
//   width: 100%;
//   border-width: 1px;
//   border-style: solid;
//   border-color: rgb(231, 235, 240);
//   border-image: initial;
//   border-radius: 5px;
// }
// .content-right .title {
//   font-size: 13px;
//   text-transform: uppercase;
//   letter-spacing: 0.5px;
//   color: var(--primary-color);
//   padding: 30px 41px 0px;
// }
// .list{
//   list-style-type: none;
//   opacity: 1;
//   height: 90px;
//   padding: 10px 0px 0px;
// }
// .list:hover{
//   background-color: #F1EFEC;
// }
// .content-right .main-app {
//   position: relative;
//   cursor: pointer;
//   padding: 6px 40px;
//   transition: background-color 0.4s;
//   border-radius: 3px;
// }
// .main-app a{
//   font-size: 20px;
//   position: relative;
//   align-items: center;
//   justify-content: center;
//   display: flex;
//   width: 100%;
//   text-decoration: none;
//   outline: 0;
//   color: #03a9f5;
// }
// .main-app .content{
//   width: 85%;
//   display: inline-block;
//   line-height: 1.1;
//   span{
//     letter-spacing: -0.3px;
//     color: #010101;;
//     font-size: 24px;
//     cursor: pointer;
//   }
//   small{
//     height: 60px;
//     font-size: 14px;
//     line-height: 1.45;
//     color: #333;
//   }
// }
// @media only screen and (min-width: 1200px) {
//   .content-left h1 {
//       font-size: 54px;
//       letter-spacing: -1.5px;
//   }
//   .content-left p{
//     letter-spacing: -0.5px;
//       font-size: 24px;
//   }
// }

// @keyframes slideDownFade {
//   from {
//     opacity: 0;
//     transform: translateY(-50px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// @keyframes slideUpFade {
//   from {
//     opacity: 0;
//     transform: translateY(50px);
//   }
//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

// .content-left h1,
// .content-left p {
//   opacity: 0;
//   animation: slideDownFade 1s ease-out forwards;
// }

// .content-left p {
//   animation-delay: 0.3s;
// }

// .zh-img-container {
//   opacity: 0;
//   animation: slideUpFade 1.2s ease-out forwards;
//   animation-delay: 0.6s;
// }
.main-box{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
  background: #fff;
  border-bottom: 1px solid #e7ebf0;
  height: 10vh;
}

.heading {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Times New Roman', Times, serif;

  background: linear-gradient(to right, #a8bffc, #799bf8,#4567d8, #304fb6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.card {
  width: 100vh;
  max-width: 400px;
  height: 250px;
  margin: 20px auto;
  border-radius: 12px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  /* Center content vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card img {
  width: 170px;
  height: auto;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);;
}

.card h2, .card-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: #333;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
