  <div class="main-box">
  <h1 class="heading">AI Based BATTLEFIELD INDICATOR Software</h1>

    <div class="row justify-content-center" *ngIf="corpsList.length > 0">
      <div class="col-md-6 col-lg-4">
        <div class="card text-center" (click)="redirectUrl(corpsList[0])">
          <img [src]="corpsList[0].imageUrl" alt="Corps" width="30px">
          <div class="card-name"> {{corpsList[0].name}} </div>
        </div>
      </div>
    </div>

    <div class="row" *ngFor="let pair of corpsList.slice(1) | slicePairs">
      <div class="col-md-6" *ngFor="let corps of pair" (click)="redirectUrl(corps)">
        <div class="card">
          <img [src]="corps.imageUrl" alt="Corps">
          <div class="card-name">{{ corps.name }}</div>
        </div>

      </div>
    </div>
  </div>

