<main>
  <div class="bis-banner">
    <div class="context">
      <div class="content-left">
        <h1>Your life's work,
          <span class="dis-block">powered by our life's work</span>
        </h1>
        <p>HQ Eastern Command, based in Kolkata, oversees the Indian Army’s operations in Eastern India. It ensures national security, border defense, and strategic coordination across sensitive regions, including the Northeast.</p>
        <button class="zh-btn">VIEW MORE</button>
        <div class="zh-img-container">
          <picture>
            <img src="/assets/zoho_banner.webp" alt="" width="1030" height="299">
          </picture>
        </div>
      </div>
      <div class="content-right">
        <div class="title">Featured apps</div>
        <ul class="list" *ngFor="let corps of corpsList" (click)="redirectUrl(corps)">
          <li class="main-app" >
              <span><img [src]="corps.imageUrl" alt="" width="35" height="35"> &nbsp;</span>
              <span class="content">
                <span>{{corps.name}}</span> <br>
                <small>{{corps.description}}</small>
              </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
