<div class="bell-container" (click)="openNotifications()">
<img src="/assets/bell-ringing-svgrepo-com.svg" class="custom-icon"  [@bounce]="animState"
(@bounce.done)="animDone($event)"  alt="">
  <span class="badge" *ngIf="notifications.length>0"> {{notifications.length}}</span>
</div>
<div class="popup" *ngIf="dropdownVisible">
  <div class="header">
    <span>Notifications</span>
  </div>
  <div class="notification-list" id="notificationList" *ngFor="let notification of notifications;">
    <div class="notification-item"  (click)="openNotification(notification)">
      <i class="fa-solid fa-envelope"></i>
      <div class="notification-content">
        <div class="notification-type">{{ notification.title }}</div>
        <div class="notification-message" [ngClass]="{'unread': !notification.isReaded}">{{ notification.content }}</div>
        <div class="notification-timestamp">{{ notification.createdOn | timeDifference}}</div>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
