/* Make the table container scrollable */
.table-container {
    max-height: 400px; /* Adjust the height as needed */
    overflow: auto;    /* Enable both x and y axis scrolling */
    width: 100%;       /* Ensure it takes full width */
  }

  /* Add styles to the table to ensure it behaves responsively */
  table {
    width: 100%;       /* Ensure the table takes the full width */
    border-collapse: collapse; /* Optional, makes table borders collapse */
  }

  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }

  thead {
    position: sticky;
    top: 0;
    background-color: #f1f1f1;  /* Optional: for better visibility */
    z-index: 1; /* Ensures the header stays on top while scrolling */
  }

  /* Optional: Adjust table header size and font */
  th {
    font-weight: bold;
    background-color: #f1f1f1;
  }


   /* input images */

   .image-preview {
    position: relative; /* To position the close icon relative to the image preview */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
  }

  .image-preview img {
    width: 60%;
    max-height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .image-name {
    font-size: 12px;
    text-align: center;
    color: #555;
    word-wrap: break-word;
  }

  .close-icon-container {
    position: absolute;
    top: 0px;
    right: -15px;
    background-color: rgba(255, 255, 255, 0.7); /* optional: for better visibility */
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    height: 50px;
  }

  .close-icon {
    font-size: 20px; /* Adjust size as needed */
    color: #555;
  }

  .fileUpload{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #063970;
    color: #063970;
    border-radius: 5px;
}
.fileUpload:hover{
    color: #f1f1f1;
    background-color: #063970;;
}
.fileUpload:hover .upload-icon {
  fill: white;
}
.text-area{
  height: 80px !important;
  line-height: 1.5 !important;
}
.error-message-container{
  display: flex;
  width: 380px;
  height: 200px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgba(99, 99, 99, 0.1);
  border-radius: 10px;

}
.chart-container{

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}
.icon-display {
  background-color: red;
    color: #fff;
    transform: scale(2);
    border-radius: 30px;
}
