<mat-card appearance="outlined">
  <mat-card-header class="insync-header">
    <div class="row full-width justify-content-between align-items-center">
      <div class="col-sm-2">AI Analysis</div>
    </div>
  </mat-card-header>

  <mat-card-content>
    <div class="row gx-4 gy-4">
      <div class="col-12 col-md-6" *ngFor="let card of cards" (click)="openCardDetails(card)">
        <div class="ecom-card">
          <div class="card-body">
            <h5 class="card-title">{{ card.name }}</h5>
            <p class="card-description">{{card.description}}</p>
            <div class="card-footer">
              <span class="price">abc</span>
              <button mat-button color="primary">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
