<mat-card appearance="outlined">
  <mat-card-header class="insync-header">
    <div class="row full-width">
      <div class="col-sm-2">MasterData List</div>
      <div class="col-sm-7">
        <div class="col-md-2"  align="end">
          <a href="/corps" *ngIf="isCommand" class="back-link"> Back</a>
        </div>
      </div>

    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-md-9">
        <div class="layout">
          <mat-chip (click)="filterData('All')">
            <div class="chip-container">
              <span>All</span>
              <span class="background dark"></span>
            </div>
          </mat-chip>
          <mat-chip (click)="filterData('Created')">
            <div class="chip-container">
              <span>Created</span>
              <span class="background blue"></span>
            </div>
          </mat-chip>
          <mat-chip (click)="filterData('Processing')">
            <div class="chip-container">
              <span>Processing</span>
              <span class="background orange"></span>
            </div>
          </mat-chip>
          <mat-chip (click)="filterData('Approved')">
            <div class="chip-container">
              <span>Approved</span>
              <span class="background green"></span>
            </div>
          </mat-chip>
          <mat-chip (click)="filterData('Rejected')">
            <div class="chip-container">
              <span>Rejected</span>
              <span class="background red"></span>
            </div>
          </mat-chip>
        </div>

      </div>
      <div class="col-sm-3" align="end" *ngIf="roleType == '1' || roleType == '10'"><button class="btn btn-primary" (click)="add()">+ Add Data</button>
      </div>
      <!-- <div class="col-md-6">
        <ng-select appendTo="ng-select" [items]="filterType" [multiple]="false" (change)="filterData($event)"
          placeholder="Select Filter" [searchable]="true" [closeOnSelect]="true">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item}}</span>
            </div>
          </ng-template>
        </ng-select>
      </div> -->
      <div class="col-md-3">
        <button type="button" class="btn btn-sm btn-outline-primary" *ngIf="selectedSample?.length > 0" (click)="exportToExcel()">Download Selected</button>
      </div>
    </div>




    <app-table *ngIf="sortedData.length > 0" [rowData]="sortedData" [tablePaginationSettings]="tablePaginationSettings"
      [enableCheckbox]="true" [isRowBackgroundColor]="true" [isRefresh]="isRefresh" [allowMultiSelect]="true"
      (edit)="edit($event)" (view)="view($event)" [sqColumnDefinition]="columns" (isApproved)="isApproved($event)" [roleType]="roleType"
      (pageChanged)="getMoreSameples($event)" (getSelectedRows)="getSelectedRows($event)">
    </app-table>
    <div class="span" *ngIf="DataList.length == 0">
      <h4>NO Data Found</h4>
    </div>
  </mat-card-content>
</mat-card>
