<mat-card appearance="outlined">
  <mat-card-header class="insync-header">
    <div class="row full-width">
      <div class="col-sm-2">MasterData List</div>
      <!-- <div class="col-sm-2 offset-md-6">Bulk</div> -->
      <div class="col-sm-2 offset-md-6"></div>
      <div class="col-sm-2" align="end"><button class="btn btn-link" (click)="add()">+ Add Data</button>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-md-6">
        <div class="layout">
          <mat-chip>
            <div class="chip-container">
              <span>Created</span>
              <span class="background blue"></span>
            </div>
          </mat-chip>
          <mat-chip>
            <div class="chip-container">
              <span>Processing</span>
              <span class="background orange"></span>
            </div>
          </mat-chip>
          <mat-chip>
            <div class="chip-container">
              <span>Approved</span>
              <span class="background green"></span>
            </div>
          </mat-chip>
          <mat-chip>
            <div class="chip-container">
              <span>Rejected</span>
              <span class="background red"></span>
            </div>
          </mat-chip>
        </div>

      </div>
      <!-- <div class="col-md-6">
        <ng-select appendTo="ng-select" [items]="filterType" [multiple]="false" (change)="filterData($event)"
          placeholder="Select Filter" [searchable]="true" [closeOnSelect]="true">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item}}</span>
            </div>
          </ng-template>
        </ng-select>
      </div> -->
    </div>


    <app-table *ngIf="DataList.length > 0" [rowData]="DataList" [tablePaginationSettings]="tablePaginationSettings"
      [enableCheckbox]="true" [isRowBackgroundColor]="true" [isRefresh]="isRefresh" [allowMultiSelect]="true"
      (edit)="edit($event)" (view)="view($event)" [sqColumnDefinition]="columns"
      (pageChanged)="getMoreSameples($event)">
    </app-table>
    <div class="span" *ngIf="DataList.length == 0">
      <h4>NO Data Found</h4>
    </div>
  </mat-card-content>
</mat-card>
