<mat-card appearance="outlined">
    <mat-card-header class="insync-header">
        User List
        <span class="example-spacer"></span>
    </mat-card-header>
    <mat-card-content>
        <div class="table-container">
            <table class="table table-hover table-sm">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>Command</th>
                        <th>Corps</th>
                        <th>Division</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList; let i = index;">
                        <td>{{user.name}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phone}}</td>
                        <td>{{RoleType[user.roleType] }}</td>
                        <td>{{user.corpsId == 1 ? 'Eastern Command' : '-'}}</td>
                        <td>{{user.corpsId != 1 ? Corps[user.corpsId] : '-'}}</td>
                        <td>{{user.divisionId > 0 ? Divison[user.divisionId] : '-'}}</td>
                        <td>

                          <!-- <button mat-icon-button color="accent"
                          type="button" (click)="view(user)" matTooltip="view"> <img src="/assets/eye.svg" class="custom-icon" alt="">
                          </button>
                          <button mat-icon-button color="primary"  (click)="edit(user)"
                            matTooltip="Edit Role">
                            <mat-icon>edit</mat-icon>
                          </button> -->
                          <!-- <button mat-icon-button color="warn"
                              type="button" (click)="remove(user)"matTooltip="delete">
                              <img src="/assets/delete.svg" class="custom-icon" alt="">
                          </button> -->
                          <button mat-icon-button color="accent"
                              type="button" (click)="update(user)"matTooltip="change password">
                              <img src="/assets/password.svg" class="custom-icon" alt="">
                          </button>
                        </td>
                        <!-- <td>{{user.divisionId ? Divison[user.divisionId] : Corps[user.corpsId]}}</td> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>
