
.zipper-checkbox{
    max-width: fit-content;
}


.column-header-content{
    text-align: justify !important;
}
.example-container {
    // height:  100vh;
    height: 76vh;
    overflow: auto;
  }

//   .mat-mdc-header-cell, .mat-mdc-footer-cell, .mat-mdc-cell {
//      width: 100px!important;
//     box-sizing: border-box;
//   }

//   .mat-mdc-header-row, .mat-mdc-footer-row, .mat-mdc-row {
//     min-width: 1920px; /* 24 columns, 80px each */
//   }

.green {
  background-color: #28a745; /* Green */
}

.orange {
  background-color: #fd7e14; /* Orange (for Progress) */
}

.red {
  background-color: #ce4755; /* Red */
}

.blue {
  background-color: #5ba0eb; /* Blue (for Created status) */
}

