
.zipper-checkbox{
    max-width: fit-content;
}


.column-header-content{
    text-align: justify !important;
}
.example-container {
  height: auto;
  overflow: visible;
}

@media (min-width: 1200px) {
  .example-container {
    height: 73vh;
    overflow: auto;
  }
}

.green{
  background-color: #cde9ce;;
}
.blue{
  background-color:#b8ecf3;
}
.red{
  background-color: #fccac7;
}
.orange{
  background-color: #fff9c8;
}

.custom-icon{
  height: 25px;
}
