<mat-toolbar color="primary" class="app-header">
    <mat-toolbar-row>
      <div class="contents">
        <div fxShow="true">

        </div>
        <span> {{facilityName }} </span>
        <span class="example-spacer">
        </span>
        <div class="user mx-4">
                <app-notification *ngIf="roleType != '7' && roleType != 8"></app-notification>
        </div>
        <div class="user-profile" *ngIf="roleType != '7' && roleType != '8' && roleType != '9'">

           <img src="/assets/user.svg" class="custom-icon" alt="">
           &nbsp;{{userName}}
           <img src="/assets/logout2.svg" class="custom-icon px-2" style="height: 20px; cursor: pointer;" alt="" (click)="onLoggedout()">
        </div>
        <div *ngIf="roleType == '7' || roleType == '8' || roleType == '9'">

            <img src="/assets/user.svg" class="custom-icon" alt="">
            &nbsp;{{userName}}
            <img src="/assets/logout2.svg" class="custom-icon px-2" style="height: 20px; cursor: pointer;" alt="" (click)="onLoggedout()">
          </div>
      </div>
    </mat-toolbar-row>

</mat-toolbar>
