.commandlogo{
  height: 80px;
  width: 160px;
}
.contents{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  align-items: center;
}
.custom-icon{
  height: 25px;
  filter: invert(100%) brightness(100%) contrast(100%);
}
