<mat-toolbar color="primary" class="app-header">
    <mat-toolbar-row>
      <div class="contents">
        <div fxShow="true">
            <button mat-icon-button (click)="toggleSideBar()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <span> {{facilityName}} </span>
        <span class="example-spacer">
        </span>
        <div class="user mx-4">
                <app-notification *ngIf="roleType != '7'"></app-notification>
        </div>
        <div class="user-profile" *ngIf="roleType != '7' && roleType != '8' && roleType != '9'">
          <mat-icon class="py-1">person</mat-icon> &nbsp;{{userName}}
          <button mat-button (click)="onLoggedout()">
            <mat-icon matTooltip="logout" style="color: #fff;">exit_to_app</mat-icon>
        </button>
        </div>
        <div *ngIf="roleType == '7' || roleType == '8' || roleType == '9'">
            <button mat-button [matMenuTriggerFor]="settingMenu">
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #settingMenu="matMenu">
                <a mat-menu-item routerLinkActive="list-item-active" routerLink="/user-list">
                    <mat-icon>label</mat-icon>
                    User
                </a>
                <a mat-menu-item routerLinkActive="list-item-active" routerLink="/roles">
                    <mat-icon>label</mat-icon>
                    Role & Permission
                </a>
                <button mat-menu-item (click)="onLoggedout()">
                    <mat-icon>exit_to_app</mat-icon>
                    Sign out
                </button>
            </mat-menu>
        </div>
      </div>
    </mat-toolbar-row>

</mat-toolbar>
