.layout{
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.chip-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 120px;
  font-size: 16px;
  .background{
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .green{
    background-color: #cde9ce;;
  }
  .blue{
    background-color:#b8ecf3;
  }
  .red{
    background-color: #fccac7;
  }
  .orange{
    background-color: #fff9c8;
  }
}

