<mat-card>
  <mat-card-header class="insync-header">
    <div class="row full-width">
      <div class="col-sm-2">Analysis Form</div>
      <div class="col-sm-7">
        <div class="col-md-2"  align="end">
        </div>
      </div>
    </div>
  </mat-card-header>
</mat-card>
<mat-card-content class="card-content">
  <div class="row">
    <div class="col-md-3 offset-9">
      <h4>
        Past Detection
        <label style="font-weight: normal; font-size: 1.5rem;">
          <mat-slide-toggle [(ngModel)]="filterModel.isFuturePrediction" (change)="setPath()">
            Future Prediction
          </mat-slide-toggle>
        </label>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Date Range</mat-label>
        <mat-date-range-input [rangePicker]="picker" [min]="filterModel.isFuturePrediction ? currentDate : null">
          <input matStartDate matInput [(ngModel)]="filterModel.startdate" placeholder="Start date" #dateRangeStart
            [max]="currentDate">
          <input matEndDate [(ngModel)]="filterModel.enddate" placeholder="End date" #dateRangeEnd [max]="currentDate">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Frequecy Type</mat-label>
        <mat-select [(ngModel)]="filterModel.granularity">
          <mat-option value="daily">Daily</mat-option>
          <mat-option value="weekly">Weekly</mat-option>
          <mat-option value="monthly">Monthly</mat-option>
          <mat-option value="yearly">Yearly</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ng-select appendTo="ng-select" [items]="frmnList" [multiple]="true" bindLabel="name" 
        bindLabel="name" [closeOnSelect]="true" placeholder="Fmn" [searchable]="true" [(ngModel)]="filterModel.frmn">
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items">
            <span class="ng-value-label">{{item.name}}</span>
            <span class="ng-value-icon right px-1" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
        </ng-template>
      </ng-select>

    </div>
    <div class="col-sm-6">
      <ng-select appendTo="ng-select" [items]="sectorList" [multiple]="true" bindLabel="name" bindValue="name"
        [closeOnSelect]="true" [(ngModel)]="filterModel.sector" placeholder="Sector" [searchable]="true">
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items">
            <span class="ng-value-label">{{item.name}}</span>
            <span class="ng-value-icon right px-1" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
        </ng-template>
      </ng-select>

    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ng-select [items]="aspectList" [multiple]="true" bindLabel="name" bindValue="name" placeholder="Aspect"
        [(ngModel)]="filterModel.aspect" (change)="getIndicator(filterModel.aspect)">
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items">
            <span class="ng-value-label">{{item.name}}</span>
            <span class="ng-value-icon right px-1" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
        </ng-template>
      </ng-select>
    </div>

    <div class="col-md-6">
      <ng-select [items]="indicators" [multiple]="true" bindLabel="name" bindValue="name" placeholder="Indicators"
        [(ngModel)]="filterModel.indicator">
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items">
            <span class="ng-value-label">{{item.name}}</span>
            <span class="ng-value-icon right px-1" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
        </ng-template>
      </ng-select>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-sm btn-warning w-100" (click)="close()" type="button">Close</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-sm btn-primary w-100" type="button" (click)="save()">Start</button>
    </div>
  </div>

  <br>

<div class="row" *ngIf="plotlyData.length > 0">
        <div class="card">
            <div class="plot-wrapper">
                <plotly-plot [data]="plotlyData" [layout]="plotlyLayout" [config]="plotlyConfig" (plotlyClick)="onPointClick($event)">
                </plotly-plot>
            </div>
        </div>
    </div>

    <br>

      <div class="row" *ngIf="(masterDataList$ | async)?.length > 0">
      <div class="table-container">
          <table>
              <thead>
                  <tr>
                      <ng-container *ngFor="let item of tableHeader$ | async">
                          <th *ngIf="!['Id','Status','UserId','Fmn', 'CreatedBy', 'CreatedOn', 'IsActive', 'IsDeleted', 'CorpsId', 'DivisionId','ReportedDate'].includes(item)"
                              class="space">
                              {{ item }}
                          </th>
                      </ng-container>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of masterDataList$ | async; let i = index">
                      <ng-container *ngFor="let header of tableHeader$ | async">
                          <td *ngIf="!['Id','Status','UserId','Fmn', 'CreatedBy', 'CreatedOn', 'IsActive', 'IsDeleted', 'CorpsId', 'DivisionId','ReportedDate'].includes(header)"
                              class="space">
                              {{ item[header] }}
                          </td>
                      </ng-container>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>

</mat-card-content>
