
<div mat-dialog-title>
    Analysis
</div>
<mat-dialog-content>
    <div class="row">
        <div class="col-md-6">
               <mat-form-field>
          <mat-label>Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate [(ngModel)]="filterModel.startdate"  placeholder="Start date" #dateRangeStart [max]="currentDate">
            <input matEndDate [(ngModel)]="filterModel.enddate" placeholder="End date" #dateRangeEnd
               [max]="currentDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <!-- <mat-error *ngIf="analysisForm.controls['startDate'].hasError('required') && analysisForm.controls['startDate'].touched">
            StartDate is required.
          </mat-error> -->
        </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Frequecy Type</mat-label>
            <mat-select [(ngModel)]="filterModel.granularity">
              <mat-option value="daily">Daily</mat-option>
              <mat-option value="weekly">Weekly</mat-option>
              <mat-option value="monthly">Monthly</mat-option>
              <mat-option value="yearly">Yearly</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
             <!-- <ng-select appendTo="ng-select" [items]="frmnList" [multiple]="false"  bindLabel="name" bindValue="name"
          bindLabel="name"  [closeOnSelect]="true" placeholder="Fmn" [searchable]="true"
          [(ngModel)]="filterModel.frmn">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
              <span class="ng-value-icon right px-1" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
          </ng-template>
        </ng-select> -->
        <mat-form-field>
              <mat-label>Fmn</mat-label>
              <mat-select  [(ngModel)]="filterModel.frmn">
                <mat-option *ngFor="let option of frmnList" [value]="option.name">
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
        <div class="col-sm-6">
        <!-- <ng-select appendTo="ng-select" [items]="sectorList" [multiple]="false" bindLabel="name" bindValue="name"
          [closeOnSelect]="true" [(ngModel)]="filterModel.sector" placeholder="Sector" [searchable]="true" >
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
              <span class="ng-value-icon right px-1" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
          </ng-template>
        </ng-select> -->
         <mat-form-field>
              <mat-label>Sector</mat-label>
              <mat-select  [(ngModel)]="filterModel.sector">
                <mat-option *ngFor="let option of sectorList" [value]="option.name">
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field>
              <mat-label>Aspect</mat-label>
              <mat-select (selectionChange)="getIndicator($event.value)" [(ngModel)]="filterModel.aspect">
                <mat-option *ngFor="let option of aspectList" [value]="option.name">
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field>
              <mat-label>Indicators</mat-label>
              <mat-select  [(ngModel)]="filterModel.indicator">
                <mat-option *ngFor="let indicator of indicators" [value]="indicator.name">
                  {{ indicator.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
  <div class="col-md-6">
    <button class="btn btn-sm btn-warning w-100" (click)="close()" type="button">Close</button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-sm btn-primary w-100" type="button" (click)="save()">Start</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card shadow-sm p-3 chart-card">
      <div class="card-body">
        <h5 class="card-title">Model Visualization</h5>
        <canvas
          *ngIf="lineChartData?.datasets?.length > 0"
          baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="'line'">
        </canvas>
        <div *ngIf="lineChartData?.datasets?.length === 0" class="text-center mt-3 text-muted">
          No data available to display.
        </div>
      </div>
    </div>
  </div>
</div>


</mat-dialog-content>




