.chart-card {
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}

canvas {
  width: 100% !important;
  height: 400px !important;
  display: block;
}

@media (max-width: 768px) {
  canvas {
    height: 300px !important;
  }
}
