<div mat-dialog-title>
    Analysis
</div>
<mat-dialog-content>
    <div class="row">
        <div class="col-md-12">
               <mat-form-field>
          <mat-label>Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="startDate" placeholder="Start date" #dateRangeStart [max]="currentDate">
            <input matEndDate formControlName="endDate" placeholder="End date" #dateRangeEnd
               [max]="currentDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
          <mat-error *ngIf="analysisForm.controls['startDate'].hasError('required') && analysisForm.controls['startDate'].touched">
            StartDate is required.
          </mat-error>
        </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
             <ng-select appendTo="ng-select" [items]="frmnList" [multiple]="true" 
          bindLabel="name"  [closeOnSelect]="true" placeholder="Fmn" [searchable]="true"
          [(ngModel)]="filterModel.frmn">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
              <span class="ng-value-icon right px-1" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
          </ng-template>
        </ng-select>
        </div>
        <div class="col-sm-6">
        <ng-select appendTo="ng-select" [items]="sectorList" [multiple]="true" bindLabel="name" bindValue="name" 
          [closeOnSelect]="true" [(ngModel)]="filterModel.sector" placeholder="Sector" [searchable]="true" >
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
              <span class="ng-value-icon right px-1" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field>
              <mat-label>Aspect</mat-label>
              <mat-select (selectionChange)="getIndicator($event.value)" formControlName="aspect">
                <mat-option *ngFor="let option of aspectList" [value]="option.name">
                  {{ option.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field>
              <mat-label>Indicators</mat-label>
              <mat-select  formControlName="indicator">
                <mat-option *ngFor="let indicator of indicators" [value]="indicator.name">
                  {{ indicator.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
  <div class="col-md-6">
    <button class="btn btn-sm btn-warning w-100" (click)="close()" type="button">Close</button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-sm btn-primary w-100" type="button">Start</button>
  </div>
</div>

</mat-dialog-content>
