<mat-card appearance="outlined">
  <mat-card-header class="insync-header">
    <div class="row full-width">
      <div class="col-md-4">DETAILED ANALYSIS : EN PATTERN OF ACTIVITIES</div>
      <div class="col-md-6"></div>
      <div class="col-md-2" *ngIf="isCommand" align="end">
        <a href="/corps" class="back-link"> Back</a>
      </div>
    </div>

  </mat-card-header>
  <mat-card-content class="mat-content">
    <div class="row">
      <div class="col-sm-3">
        <ng-select [(ngModel)]="filterModel.frmn" appendTo="ng-select" [items]="frmnList" [multiple]="true"
          bindLabel="name" [closeOnSelect]="true" (change)="getAll()" placeholder="Fmn" [searchable]="true"
          (keydown.enter)="getAll()">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-sm-3">
        <ng-select [(ngModel)]="filterModel.sector" appendTo="ng-select" [items]="sectorList" [multiple]="true"
          bindLabel="name" (change)="onFilterChange1('sector')" bindValue="name" placeholder="Sector"
          [searchable]="true" (keydown.enter)="onFilterChange1('sector')">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-sm-3">
        <ng-select [(ngModel)]="filterModel.aspects" appendTo="ng-select" [items]="aspectList" [multiple]="true"
          bindLabel="name" (change)="getIndicator($event)" (clear)="removeIndicator()" (close)="removeIndicator()"
          bindValue="name" placeholder="Aspect" [searchable]="true" (keydown.enter)="getIndicator($event)">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-sm-3">
        <ng-select [(ngModel)]="filterModel.indicator" appendTo="ng-select" [items]="indicatorList" [multiple]="true"
          bindLabel="name" (change)="onFilterChange1('indicator')" bindValue="name" placeholder="Indicators"
          [searchable]="true" (keydown.enter)="onFilterChange1('indicator')">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-3 offset-md-9" *ngIf="isAnyCheckboxSelected()">
        <button type="button" class="gradient-button" (click)="downloadSelectedGraphs()">
          Click to download selected graphs
        </button>
      </div>
    </div>
    <div class="card-container">
      <mat-card class="card card-large">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['chart0']"></mat-checkbox>
          <h3 class="card-title">No of Inputs (Last One Month)</h3>
          <button class="download-icon mt-2" (click)="download('chart0')">
            <img src="/assets/down-arrow.svg" style="height: 15px;" alt="">
          </button>
        </section>

        <div class="chart-container">
          <canvas baseChart [data]="input30Days" [options]="lineChartOptions" [type]="'line'"></canvas>
        </div>
      </mat-card>

      <mat-card class="card card-large">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['chart1']"></mat-checkbox>
          <h3 class="card-title">No of Inputs (Same Month Last Year)</h3>
          <button class="download-icon mt-2" (click)="download('chart1')">
            <img src="/assets/down-arrow.svg" style="height: 15px;" alt="">
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="inputLastYear" [options]="lineChartOptions" [type]="'line'"></canvas>
        </div>
      </mat-card>
    </div>
    <br>
    <div class="card-container">
      <mat-card class="card card-large">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['chart2']"></mat-checkbox>
          <h3 class="card-title">Aspects (Last One Month)</h3>
          <button class="download-icon mt-2" (click)="download('chart2')">
            <img src="/assets/down-arrow.svg" style="height: 15px;" alt="">
          </button>
        </section>

        <div class="chart-container">
          <canvas baseChart [data]="aspect30Days" [options]="lineChartOptions" [type]="'line'"></canvas>
        </div>
      </mat-card>

      <mat-card class="card card-large">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['chart3']"></mat-checkbox>
          <h3 class="card-title">Aspects (Same Month Last Year)</h3>
          <button class="download-icon mt-2" (click)="download('chart3')">
            <img src="/assets/down-arrow.svg" style="height: 15px;" alt="">
          </button>
        </section>

        <div class="chart-container">
          <canvas baseChart [data]="aspectLastYear" [options]="lineChartOptions" [type]="'line'"></canvas>
        </div>
      </mat-card>
    </div>
    <br>
    <div class="card-container">
      <mat-card class="card card-large">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['chart4']"></mat-checkbox>
          <h3 class="card-title">Indicators (Last 30 Days)</h3>
          <button class="download-icon mt-2" (click)="download('chart4')">
            <img src="/assets/down-arrow.svg" style="height: 15px;" alt="">
          </button>
        </section>

        <div class="chart-container">
          <canvas baseChart [data]="indicator30Days" [options]="lineChartOptions" [type]="'line'"></canvas>
        </div>
      </mat-card>

      <mat-card class="card card-large">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['chart5']"></mat-checkbox>
          <h3 class="card-title">Indicators 30 Days(Last Year)</h3>
          <button class="download-icon mt-2" (click)="download('chart5')">
            <img src="/assets/down-arrow.svg" style="height: 15px;" alt="">
          </button>
        </section>

        <div class="chart-container">
          <canvas baseChart [data]="indicatorLastYear" [options]="lineChartOptions" [type]="'line'"></canvas>
        </div>
      </mat-card>
    </div>
    <br>

    <!-- Button for merging charts in a single row or expanding into two rows -->
     <!-- <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-2">
        <button type="button" class="gradient-button" style="margin-left: 26%;" (click)="isExpand = !isExpand">
          {{ isExpand ? 'Merge Variation Charts' : 'Expand Variation Charts' }}
        </button>
      </div>
     </div> -->


<!-- Chart Filter & Charts Section -->






    <div class="row" *ngFor="let model of variationFilterList; let i = index">
      <div class="col-sm-2">
        <ng-select [(ngModel)]="model.frmn" appendTo="ng-select" [items]="frmnList" [multiple]="false"
          bindLabel="name"  placeholder="Fmn" [searchable]="true"
          >
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
            </div>
          </ng-template>
        </ng-select>

      </div>
      <div class="col-sm-2">
        <ng-select [(ngModel)]="model.sector" appendTo="ng-select" [items]="sectorList" [multiple]="true"
          bindLabel="name" (change)="getvariation()" bindValue="name" placeholder="Sector" [searchable]="true"
          (keydown.enter)="getvariation()">
        </ng-select>
      </div>
      <div class="col-sm-2">
        <ng-select [(ngModel)]="model.aspects" appendTo="ng-select" [items]="aspectList" [multiple]="true"
          bindLabel="name" (change)="getIndicatorForVarition1($event)" bindValue="name" placeholder="Aspect"
          [searchable]="true" (keydown.enter)="getIndicatorForVarition1($event)">
        </ng-select>
      </div>
      <div class="col-sm-2">
        <ng-select [(ngModel)]="model.indicator" appendTo="ng-select" [items]="indicatorList2" [multiple]="true"
          bindLabel="name" (change)="getvariation()" bindValue="name" placeholder="Indicators" [searchable]="true"
          (keydown.enter)="getvariation()">
        </ng-select>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker1">
            <input matStartDate placeholder="Start date" [(ngModel)]="model.startDate">
            <input matEndDate placeholder="End date" (dateChange)="getvariation()" [(ngModel)]="model.endDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-date-range-picker #picker1></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div class="col-sm-1">
        <button class="add-btn" (click)="removeFilterModel(i)" *ngIf="i != 0 || i != variationFilterList.length - 1">
          <img src="/assets/minus-icon.png" alt="" width="20px" height="20px">
        </button>

        <button class="add-btn" (click)="addFilterModel()" *ngIf="i == variationFilterList.length - 1">
          <img src="/assets/plus-icon.png" alt="" width="20px" height="20px">
        </button>
      </div>
    </div>


    <div class="card-container">
      <mat-card class="card card-extralarge">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['chart6']"></mat-checkbox>
          <h3 class="card-title">Variation (all Fmn)</h3>
          <button class="download-icon mt-2" (click)="download('chart6')">
            <img src="/assets/down-arrow.svg" style="height: 15px;" alt="">
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="variation" [options]="chartOptions" [type]="'line'"></canvas>
        </div>
      </mat-card>
    </div>



<!--
    <div class="row">
      <div class="col-sm-2">
        <ng-select [(ngModel)]="filterModel3.frmn" appendTo="ng-select" [items]="frmnList" [multiple]="true"
          bindLabel="name" (change)="getvariation2()" placeholder="Fmn" [searchable]="true"
          (keydown.enter)="getvariation2()">
        </ng-select>
      </div>
      <div class="col-sm-2">
        <ng-select [(ngModel)]="filterModel3.sector" appendTo="ng-select" [items]="sectorList" [multiple]="true"
          bindLabel="name" (change)="getvariation2()" bindValue="name" placeholder="Sector" [searchable]="true"
          (keydown.enter)="getvariation2()">
        </ng-select>
      </div>
      <div class="col-sm-2">
        <ng-select [(ngModel)]="filterModel3.aspects" appendTo="ng-select" [items]="aspectList" [multiple]="true"
          bindLabel="name" (change)="getIndicatorForVarition2($event)" bindValue="name" placeholder="Aspect"
          [searchable]="true" (keydown.enter)="getIndicatorForVarition2($event)">
        </ng-select>
      </div>
      <div class="col-sm-3">
        <ng-select [(ngModel)]="filterModel3.indicator" appendTo="ng-select" [items]="indicatorList3" [multiple]="true"
          bindLabel="name" (change)="getvariation2()" bindValue="name" placeholder="Indicators" [searchable]="true"
          (keydown.enter)="getvariation2()">
        </ng-select>
      </div>
      <div class="col-sm-3">
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker2">
            <input matStartDate placeholder="Start date" [(ngModel)]="filterModel3.startDate">
            <input matEndDate placeholder="End date" (dateChange)="getvariation2()" [(ngModel)]="filterModel3.endDate">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-date-range-picker #picker2></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>


    <div class="card-container">
      <mat-card class="card card-extralarge">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['chart7']"></mat-checkbox>
          <h3 class="card-title">Variation (all Fmn)</h3>
          <button class="download-icon mt-2" (click)="download('chart7')">
            <img src="/assets/down-arrow.svg" style="height: 15px;" alt="">
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="variation2" [options]="chartOptions" [type]="'line'"></canvas>
        </div>
      </mat-card>
    </div> -->




<!-- Entries Chart Starts -->

    <br>
    <div class="row">
      <div class="col-sm-3">
        <ng-select [(ngModel)]="filterModel4.frmn" (change)="getEntries()" appendTo="ng-select" [items]="frmnList"
          [multiple]="true" bindLabel="name" (change)="onFilterChange2('fmn', $event)" placeholder="Fmn"
          [searchable]="true" (keydown.enter)="onFilterChange2('fmn', $event)">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-sm-3">
        <ng-select [(ngModel)]="filterModel4.sector" (change)="getEntries()" appendTo="ng-select" [items]="sectorList"
          [multiple]="true" bindLabel="name" bindValue="name" placeholder="Sector" [searchable]="true">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-sm-3">
        <ng-select [(ngModel)]="filterModel4.aspects" appendTo="ng-select" [items]="aspectList" [multiple]="true"
          bindLabel="name" bindValue="name" (change)="getIndicatorForEntries($event)" placeholder="Aspect"
          [searchable]="true">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-sm-3">
        <ng-select [(ngModel)]="filterModel4.indicator" (change)="getEntries()" appendTo="ng-select"
          [items]="indicatorList4" [multiple]="true" bindLabel="name" bindValue="name" placeholder="Indicators"
          [searchable]="true">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <mat-form-field class="w-full">
          <mat-label>Select your chart</mat-label>
          <mat-select [(value)]="selected11" [(ngModel)]="filterModel4.filterType" (selectionChange)="getEntries()">
            <mat-option value="Monthly">Monthly</mat-option>
            <mat-option value="Daily">Daily</mat-option>
            <mat-option value="Weekly">Weekly</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Chart -->
    <div class="card-container">
      <mat-card class="card card-extralarge">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['chart8']"></mat-checkbox>
          <h3 class="card-title">Entries Chart</h3>
          <button class="download-icon mt-2" (click)="download('chart8')">
            <img src="/assets/down-arrow.svg" style="height: 15px;" alt="">
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="entriesChart" [options]="lineChartOptions" [type]="'line'"></canvas>

        </div>
      </mat-card>

    </div>
    <br>

    <div class="mean-table-container">
      <div class="mean table-container">
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Data</th>
              <th>Mean : {{meanChartList?.meanValue[0]}} </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of meanChartList?.name; let i = index;"
              [libGetMeanvalueColor]="{ count: meanChartList.count[i], meanValue: meanChartList.meanValue[i] }">
              <td>{{item | bisdefaultDate}}</td>
              <td>{{meanChartList.count[i]}}</td>
              <td><button class="btn btn-link" (click)="getMeanData(item)">
                <img src="/assets/right-arrow.svg" class="custom-icon" style="height: 20px;" alt="">
                  </button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="arrow-icon">
        <!-- <mat-icon>compare_arrows</mat-icon> -->
        <img src="/assets/right-arrow.svg" class="custom-icon" style="height: 20px;" alt="">
      </div>
      <div class="table-container">
        <table>
          <thead>
            <tr>
              <ng-container *ngFor="let item of tableHeader$ | async">
                <th
                  *ngIf="!['Id', 'CreatedBy', 'CreatedOn', 'IsActive', 'IsDeleted', 'CorpsId', 'DivisionId','ReportedDate','Status','Fmn','UserId'].includes(item)"
                  class="space">
                  {{ item }}
                </th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of masterDataList$ | async; let i = index">
              <ng-container *ngFor="let header of tableHeader$ | async">
                <td
                  *ngIf="!['Id', 'CreatedBy', 'CreatedOn', 'IsActive', 'IsDeleted', 'CorpsId', 'DivisionId','ReportedDate','Status','Fmn','UserId'].includes(header)"
                  class="space">
                  {{ item[header] }}
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
