.tab {
  overflow: hidden;
  height: '50vh' !important;
}
.mat-mdc-tab-group {
  overflow: hidden;
}

.mat-mdc-tab-body-wrapper {
  overflow-x: hidden;
}

.mat-mdc-tab-body {
  overflow-x: hidden;
}

.mat-table {
  width: 100%;
  overflow-x: hidden;
}

.mat-card {
  overflow: hidden;
  height: '50vh' !important;
}

.row {
  margin: 0;
}

