<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <mat-toolbar>
        <span class="brand-caption">BIS</span>
      </mat-toolbar>
      <app-sidebar (isloaded)="isLoaded($event)"></app-sidebar>
    </mat-drawer>
    <mat-drawer-content style="margin-left: 10%;"
    class="drawer-container"
    >
    <!-- <mat-drawer-content
    style="margin-left: 188px;"
    class="drawer-container"
    > -->
      <app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
      <div class="content" style="height: 87.9vh;">
        <!-- <ngx-spinner  size = "large"  type="ball-scale-multiple" [fullScreen] = "true">
          <p style="color: white" > Loading... </p></ngx-spinner> -->
        <router-outlet></router-outlet>

      </div>
      <lib-footer></lib-footer>
    </mat-drawer-content>
  </mat-drawer-container>
