.content{
    width: 100% !important;
}
.drawer-container {
    display: flex;
}
.logo{
  height: 40px;
  width: 40px;
  border-radius: 30px;
}
.commandlogo{
  height: 50px;
  width: 50px;
}

.content {
  height: 87.9vh;
}

@media screen and (min-width: 768px) {
  .content {
    height: 80vh;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    height: 84vh;
  }
}

@media screen and (max-width: 767px) {
  .content {
    height: 100vh;
  }
}
.small-text{
  font-size: 13px;
  font-weight: 500;
  font-family: 'Winky Sans';
  text-align: center;
}

.text-white{
  color:#fff;
}
