<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
      <mat-toolbar>
        <!-- <img src="/assets/logo.jpeg" class="logo" alt="logo"> -->
        <img class="logo" src="/assets/new_logo.webp" alt="CommandLogo"> &nbsp;
        <span class="brand-caption">Artificial</span><br>

      </mat-toolbar>
      <div class="small-text">Battleground Indicator Software</div>
      <app-sidebar (isloaded)="isLoaded($event)"></app-sidebar>
    </mat-drawer>
    <mat-drawer-content
    class="drawer-container" style="margin-left: 169px;"
    >
    <!-- <mat-drawer-content
    style="margin-left: 188px;"
    class="drawer-container"
    > -->
      <app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>

      <!-- <img class="commandlogo" src="/assets/comdlogo1.png" alt="CommandLogo"> -->
      <div class="content">
        <!-- <ngx-spinner  size = "large"  type="ball-scale-multiple" [fullScreen] = "true">
          <p style="color: white" > Loading... </p></ngx-spinner> -->
        <router-outlet></router-outlet>

      </div>
      <lib-footer></lib-footer>
    </mat-drawer-content>
  </mat-drawer-container>
