<mat-card appearance="outlined">
  <mat-card-header class="insync-header">
    Dashboard
  </mat-card-header>
  <mat-card-content class="mat-content">

    <div class="row">
      <div class="col-sm-4">
        <mat-card>
          <mat-card-title class="totals">Total Inputs : {{ dashboardCount.totalInputCount }}</mat-card-title>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card>
          <mat-card-title class="totals">Total Today : {{ dashboardCount.todayCount }}</mat-card-title>
        </mat-card>
      </div>
      <div class="col-sm-4">
        <mat-card>
          <mat-card-title class="totals">Total (07 Days) : {{ dashboardCount.last7DaysCount }}</mat-card-title>
        </mat-card>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-5">
        <ng-select appendTo="ng-select" [items]="frmnList" [multiple]="true" (change)="onFilterChange($event)" bindLabel="name" bindValue="name"
          [closeOnSelect]="false" placeholder="Fmn" [searchable]="true" [(ngModel)]="filterModel.frmn"
          (keydown.enter)="onFilterChange($event)">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
              <span class="ng-value-icon right px-1" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
          </ng-template>
        </ng-select>

      </div>
      <div class="col-sm-5">
        <ng-select appendTo="ng-select" [items]="sectorList" [multiple]="true" bindLabel="name" bindValue="name"
          [closeOnSelect]="false" [(ngModel)]="filterModel.sector" placeholder="Sector" [searchable]="true">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
              <span class="ng-value-icon right px-1" (click)="clear(item)" aria-hidden="true">×</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-sm-1 btn-float-down">
        <button class="btn btn-sm btn-outline-primary btn-height" (click)="getFrmAndAspect()">Search</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 offset-md-8" *ngIf="isAnyCheckboxSelected()" align="end">
        <button type="button" class="gradient-button" (click)="downloadSelectedGraphs()">
          Click to download selected graphs
        </button>
      </div>
    </div>

    <!-- Sector Graph -->
    <div class="card-container">
      <mat-card class="card card-small">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Sector_wise_Inputs']"></mat-checkbox>
          <h3 class="card-heading">Sector wise Inputs</h3>
          <button class="download-icon mt-2" (click)="download('Sector_wise_Inputs')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="frmInputChartData" type="doughnut" [options]="ChartOptions"></canvas>
        </div>
      </mat-card>


      <mat-card class="card card-small">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Sector_wise(Last_30_Days)']"></mat-checkbox>
          <h3 class="card-title adjust-font">Sector wise (Last 30 Days)</h3>
          <button class="download-icon mt-2" (click)="download('Sector_wise(Last_30_Days)')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="frm30DaysChartData" type="doughnut" [options]="ChartOptions"></canvas>
        </div>
      </mat-card>

      <mat-card class="card card-small">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Sector_wise(Today)']"></mat-checkbox>
          <h3 class="card-heading">Sector wise (Today)</h3>
          <button class="download-icon mt-2" (click)="download('Sector_wise(Today)')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="frmTodayChartData" type="doughnut" [options]="ChartOptions"></canvas>
        </div>
      </mat-card>

      <mat-card class="card card-large">
        <section class="card-title lg">
          <mat-checkbox [(ngModel)]="selectedCharts['Sector_wise(Last_12_Months)']"></mat-checkbox>
          <h3 class="card-heading">Sector wise (Last 12 Months)</h3>
          <button class="download-icon lg-height" (click)="download('Sector_wise(Last_12_Months)')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="frm12MonthsChartData" [options]="barChartOptions" [type]="'bar'"></canvas>
        </div>
      </mat-card>

    </div>

    <br>
    <!-- Frmn Graph -->
    <div class="card-container">
      <mat-card class="card card-small">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Fmn_wise_Inputs']"></mat-checkbox>
          <h3 class="card-heading">Fmn wise Inputs</h3>
          <button class="download-icon mt-2" (click)="download('Fmn_wise_Inputs')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="frmInputChartData" type="polarArea" [options]="ChartOptions"></canvas>
        </div>
        <!-- <div class="card-footer">
                <ul>
                  <li> 1 : 10</li>
                </ul>
              </div> -->
      </mat-card>
      <mat-card class="card card-small">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Fmn_wise(Last_30_Days)']"></mat-checkbox>
          <h3 class="card-title adjust-font">Fmn wise (Last 30 Days)</h3>
          <button class="download-icon mt-2" (click)="download('Fmn_wise(Last_30_Days)')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="frm30DaysChartData" type='polarArea' [options]="ChartOptions"></canvas>
        </div>
        <!-- <div class="card-footer">
                  <ul>
                    <li> 1 : 10</li>
                  </ul>
                </div> -->
      </mat-card>

      <mat-card class="card card-small">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Fmn_wise(Today)']"></mat-checkbox>
          <h3 class="card-heading">Fmn wise (Today)</h3>
          <button class="download-icon mt-2" (click)="download('Fmn_wise(Today)')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="frmTodayChartData" type='polarArea' [options]="ChartOptions"></canvas>
        </div>
        <!-- <div class="card-footer">
                  <ul>
                    <li> 1 : 10</li>
                  </ul>
                </div> -->
      </mat-card>
      <mat-card class="card card-large">
        <section class="card-title lg">
          <mat-checkbox [(ngModel)]="selectedCharts['Fmn_wise_(Last_12_Months)']"></mat-checkbox>
          <h3 class="card-heading">Fmn wise (Last 12 Months)</h3>
          <button class="download-icon lg-height" (click)="download('Fmn_wise_(Last_12_Months) ')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="frm12MonthsChartData" [options]="lineChartOptions" [type]="'line'"></canvas>
        </div>
        <!-- <div class="card-footer">
                <ul>
                  <li>val : val2</li>
                </ul>
              </div> -->
      </mat-card>
    </div>
    <br>
    <!-- Aspect Graph -->
    <div class="card-container">
      <mat-card class="card card-small">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['All_Aspect']"></mat-checkbox>
          <h3 class="card-heading">All Aspect</h3>
          <button class="download-icon mt-2" (click)="download('All_Aspect')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="aspectAllChartData" type="pie" [options]="ChartOptions"></canvas>
        </div>
        <!-- <div class="card-footer">
              <ul *ngIf="aspectAllChartData?.labels?.length > 0">
                <li *ngFor="let label of aspectAllChartData.labels | slice: 0:3; let i = index">
                  <span
                    class="color-box"
                    [style.color]="aspectAllChartData.datasets[0]?.backgroundColor?.[i]"
                  > {{ label }}</span>

                </li>
              </ul>
              <span *ngIf="aspectAllChartData?.labels?.length > 3" class="more-labels">
                &#x2026;
              </span>
            </div> -->
      </mat-card>

      <mat-card class="card card-small">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Aspect (Last_30_Days)']"></mat-checkbox>
          <h3 class="card-title adjust-font">Aspect (Last 30 Days)</h3>
          <button class="download-icon mt-2" (click)="download('Aspect (Last_30_Days)')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="aspect30DaysChartData" type='pie' [options]="ChartOptions"></canvas>
        </div>
        <!-- <div class="card-footer">
                  <ul>
                    <li> 1 : 10</li>
                  </ul>
                </div> -->
      </mat-card>

      <mat-card class="card card-small">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Aspect_Today']"></mat-checkbox>
          <h3 class="card-heading">Aspect Today</h3>
          <button class="download-icon mt-2" (click)="download('Aspect_Today')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="aspectTodayChartData" type='pie' [options]="ChartOptions"></canvas>
        </div>
        <!-- <div class="card-footer">
                  <ul>
                    <li> 1 : 10</li>
                  </ul>
                </div> -->
      </mat-card>

      <mat-card class="card card-large">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Aspect (Last_12_Months)']"></mat-checkbox>
          <h3 class="card-heading">Aspect (Last 12 Months)</h3>
          <button class="download-icon mt-2" (click)="download('Aspect (Last_12_Months)')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="aspect12MonthsChartData" [options]="lineChartOptions" [type]="'line'"></canvas>
        </div>
        <!-- <div class="card-footer">
                <ul>
                  <li>val : val2</li>
                </ul>
              </div> -->
      </mat-card>
    </div>
    <br>

    <hr>
    <div class="row">
      <div class="col-sm-10">
        <ng-select appendTo="ng-select" [items]="sectorList" [multiple]="true" [(ngModel)]="indicatorFilter.sector"
          placeholder="Sector" [searchable]="true" [closeOnSelect]="false">
          <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
            <div class="ng-value" *ngFor="let item of items">
              <span class="ng-value-label">{{item.name}}</span>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-sm-1 btn-float-down">
        <button class="btn btn-sm btn-outline-primary btn-height" (click)="getIndicatorAndLocation()">Search</button>
      </div>
    </div>

    <!-- Indicator Graph -->
    <div class="card-container">
      <mat-card class="card card-equal">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Top_10_Indicators']"></mat-checkbox>
          <h3 class="card-heading">Top 10 Indicators</h3>
          <button class="download-icon mt-2" (click)="download('Top_10_Indicators')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="indicatorData" type='pie' [options]="ChartOptions"></canvas>
        </div>
        <!-- <div class="card-footer">
                <ul>
                  <li> 1 : 10</li>
                </ul>
              </div> -->
      </mat-card>

      <mat-card class="card card-equal">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Top_5_Indicators(Last_7_Days)']"></mat-checkbox>
          <h3 class="card-heading adjust-font">Top 5 Indicators (Last 7 Days)</h3>
          <button class="download-icon mt-2" (click)="download('Top_5_Indicators(Last_7_Days)')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="indicatorTop5Data" type='pie' [options]="ChartOptions"></canvas>
        </div>
        <!-- <div class="card-footer">
                  <ul>
                    <li> 1 : 10</li>
                  </ul>
                </div> -->
      </mat-card>

      <mat-card class="card card-equal">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Top_5_Location']"></mat-checkbox>
          <h3 class="card-heading">Top 5 Location</h3>
          <button class="download-icon mt-2" (click)="download('Top_5_Location')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="enLocationData" type='pie' [options]="ChartOptions"></canvas>
        </div>
        <!-- <div class="card-footer">
                  <ul>
                    <li> 1 : 10</li>
                  </ul>
                </div> -->
      </mat-card>

      <mat-card class="card card-equal">
        <section class="card-title">
          <mat-checkbox [(ngModel)]="selectedCharts['Top_5_Loc(7_Days)']"></mat-checkbox>
          <h3 class="card-heading">Top 5 Loc (7 Days)</h3>
          <button class="download-icon mt-2" (click)="download('Top_5_Loc(7_Days)')">
            <mat-icon class="icon-display" matTooltip="download">arrow_downward</mat-icon>
          </button>
        </section>
        <div class="chart-container">
          <canvas baseChart [data]="enLocationData7Days" type='pie' [options]="ChartOptions"></canvas>
        </div>
        <!-- <div class="card-footer">
                  <ul>
                    <li> 1 : 10</li>
                  </ul>
                </div> -->
      </mat-card>
    </div>
  </mat-card-content>

</mat-card>
