.page-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  opacity: 0.9  ;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: white;
}

mat-card {
  width: 100%;
  max-width: 750px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

mat-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px 16px 0 0;
  padding: 20px 0;
}

.brand-logo-container {
  text-align: center;
}

.brand-logo {
  width: 150px;
  height: 150px;
}

.brand-name {
  font-size: 25px;
  font-weight: bold;
}

.login-card-content {
  padding: 20px;
}

.row {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

.password-field {
  position: relative;
}

mat-icon {
  font-size: 20px;
}

.forgot-password-link {
  text-align: right;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

mat-card-footer {
  padding: 20px 0;
  text-align: center;
}

.register-link {
  font-size: 14px;
}

.register-link a {
  text-decoration: underline;
}

.login-image {
  max-width: 100%;
  height: auto;
  padding: 20px;
  background: linear-gradient(rgba(150, 174, 243, 2),
      rgba(67, 85, 190, 2));
  border-radius: 10px;
}

.right-side {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.brand-name {
  font-size: 20px;
  margin-bottom: 20px;
  color: #d2b358;
}

.logo-focused {
  color: #3f51b5;
  font-weight: bold;
}

.row {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

.password-field {
  position: relative;
}

.custom-icon {
  width: 20px;
  height: 20px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button[mat-raised-button] {
  background-color: #3f51b5;
  color: #fff;
  padding: 16px 32px;
  font-size: 18px;
  border-radius: 6px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}


.login-card {
  display: flex;
  flex-direction: row;
  color: white;
  border-radius: 10px;
  padding: 0;
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
}
